{% extends "layout.html" %}
{% load static %}
{% load about_us_content %}
{% load section_break %}{% section_breaker as sb %}

{% block banner_word %}Create meaningful and interesting content{% endblock %}

{% block content %}
    <div style="text-align: center; color: white; padding-bottom: 1.5rem; padding-top: 1.5rem;">
        <b style="font-size: 26pt">CONTACT US</b><br><br>
        <a style="text-decoration: underline; letter-spacing: 1px; font-size: 13pt; font-weight: 900" href="mailto:business.skyblueco@gmail.com">business.skyblueco@gmail.com</a>
    </div>
    {{ sb | safe }}
    {% cwrapper as divs %}
    {{ divs | safe }}
    {{ sb | safe }}
    <div style="text-align: center; color: white; padding-bottom: 1.5rem; padding-top: 1.5rem;">
        <b style="font-size: 26pt">OUR WORK</b><br><br>
        <div class="our-work-grid">
            <div>
                <img src="{% static 'our work/music production.jpg' %}" width="100%">
                <h4>Music Production</h4>
                <p>From song arrangement to recording and post-production</p>

                <img src="{% static 'our work/stage performance.jpg' %}" width="100%">
                <h4>Stage Performance</h4>
                <p>Entertaining audiences by singing</p>
            </div>
            <div>
                <img src="{% static 'our work/video production.jpg' %}" width="100%">
                <h4>Video Production</h4>
                <p>From conception and script production to shooting and post-production</p><br>

                <div class="no-img"></div><br>
                <h4>Branded Content</h4>
                <p>We tailor it to the audience’s interests and provide influential and entertaining branded content</p>
            </div>
            <div>
                <img src="{% static 'our work/talent management.png' %}" width="100%">
                <h4>Talent Management</h4>
                <p>We look for and grow our pool of influencers to realise their potential and achieve their goals</p>

                <div class="no-img"></div><br>
                <h4>Influencer Marketing</h4>
                <p>Interact and connect with your audience through our influencers</p>
            </div>
        </div><br><br>
        <div class="goto-our-work">
            <a href="{% url 'our_work:home' %}">See More</a>
        </div>
    </div>
{% endblock %}

{% block other %}
    <script>
        let words = document.getElementById("about-us-words")
        let gotodiv = document.createElement("div")
        gotodiv.style = "background-color: white; text-align: center; padding-top: 5px; padding-bottom: 5px"
        let goto = document.createElement("a")
        goto.href = '{% url "others:about_us" %}'
        goto.style = "color: rgba(75,64,64,1); text-decoration: none"
        goto.innerHTML = "About Us"
        gotodiv.appendChild(goto)
        words.appendChild(gotodiv)
    </script>

    <style>
        .our-work-grid {
            display: inline-grid;
            grid-template-columns: 32% 32% 32%;
            grid-gap: 30px;
            text-align: center;
        }

        .our-work-grid h4 {
            font-family: 'Merriweather', serif;
            font-weight: 900;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        .our-work-grid p {
            font-size: 12pt;
            font-weight: 400;
            line-height: 1.56;
        }

        .our-work-grid br {
            padding-bottom: 10px;
        }

        .our-work-grid img, .our-work-grid p, .no-img{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }

        .no-img {
            height: 27.5%;
            background-color: rgba(255,255,255,.2);
            outline: 2px dashed rgba(255,255,255,.32);

        }

        .goto-our-work {
            background-color: white;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .goto-our-work a {
            color: rgba(75,64,64,1);
            text-decoration: none;
            text-align: center;
        }
    </style>
{% endblock %}
